Repository k2-fsa/sherpa, pull requests merged in 2022-11, with the labels that each got.

#178 Refactor c++ websocket to support http server
  CMakeLists.txt
  cmake/json.cmake
  sherpa/bin/web/js/offline_record.js
  sherpa/bin/web/js/upload.js
  sherpa/cpp_api/online_recognizer.cc
  sherpa/cpp_api/online_recognizer.h
  sherpa/cpp_api/test_online_recognizer.cc
  sherpa/cpp_api/test_online_recognizer_microphone.cc
  sherpa/cpp_api/websocket/http_server.h
  sherpa/cpp_api/websocket/offline_websocket_server.cc
  sherpa/cpp_api/websocket/offline_websocket_server_impl.cc
  sherpa/cpp_api/websocket/online_websocket_server.cc
  sherpa/cpp_api/websocket/online_websocket_server_impl.cc
  sherpa/cpp_api/websocket/online_websocket_server_impl.h
Labels: ready

#186 Release v1.0
  CMakeLists.txt
  cmake/cmake_extension.py
  cmake/kaldi_native_io.cmake
  cmake/portaudio.cmake
  scripts/conda-cpu/sherpa/meta.yaml
  setup.py
  sherpa/CMakeLists.txt
  sherpa/cpp_api/websocket/CMakeLists.txt
  sherpa/cpp_api/websocket/offline_websocket_client.cc
  sherpa/cpp_api/websocket/offline_websocket_server.cc
  sherpa/cpp_api/websocket/online_websocket_client_from_microphone.cc
  sherpa/cpp_api/websocket/online_websocket_server.cc
  sherpa/csrc/CMakeLists.txt
Labels: ready

#198 Support CTC decoding
  .github/scripts/run-offline-ctc.sh
  .github/scripts/run-offline-transducer.sh
  .github/scripts/run-online-transducer.sh
  .github/workflows/build-doc.yml
  .github/workflows/run-cpp-test.yaml
  .github/workflows/run-cpp-websocket-test.yaml
  .github/workflows/run-streaming-conformer-test.yaml
  .github/workflows/run-streaming-conv-emformer-test.yaml
  .github/workflows/run-streaming-lstm-test.yaml
  .github/workflows/run-streaming-test-windows-cpu.yaml
  .github/workflows/run-streaming-test-windows-cuda.yaml
  .github/workflows/run-streaming-test-with-long-waves.yaml
  .github/workflows/run-streaming-test.yaml
  .github/workflows/run-test-aishell.yaml
  .github/workflows/run-test-windows-cpu.yaml
  .github/workflows/run-test-windows-cuda.yaml
  .github/workflows/run-test.yaml
  .github/workflows/run-wenetspeech-streaming-conformer-rnnt-test.yaml
  .github/workflows/test-websocket-rtf-wer.yaml
  README.md
  sherpa/cpp_api/CMakeLists.txt
  sherpa/cpp_api/bin/offline-recognizer.cc
  sherpa/cpp_api/feature-config.cc
  sherpa/cpp_api/feature-config.h
  sherpa/cpp_api/offline-recognizer-ctc-impl.h
  sherpa/cpp_api/offline-recognizer-impl.h
  sherpa/cpp_api/offline-recognizer-transducer-impl.h
  sherpa/cpp_api/offline-recognizer.cc
  sherpa/cpp_api/offline-recognizer.h
  sherpa/cpp_api/offline-stream.cc
  sherpa/cpp_api/offline-stream.h
  sherpa/cpp_api/online-recognizer.cc
  sherpa/csrc/CMakeLists.txt
  sherpa/csrc/ctc_conformer_model.cc
  sherpa/csrc/ctc_conformer_model.h
  sherpa/csrc/ctc_model.h
  sherpa/csrc/offline-conformer-ctc-model.cc
  sherpa/csrc/offline-conformer-ctc-model.h
  sherpa/csrc/offline-ctc-decoder.h
  sherpa/csrc/offline-ctc-model.h
  sherpa/csrc/offline-ctc-one-best-decoder.cc
  sherpa/csrc/offline-ctc-one-best-decoder.h
  sherpa/csrc/offline-wav2vec2-ctc-model.cc
  sherpa/csrc/offline-wav2vec2-ctc-model.h
  sherpa/csrc/offline-wenet-conformer-ctc-model.cc
  sherpa/csrc/offline-wenet-conformer-ctc-model.h
  sherpa/csrc/symbol-table.cc
  sherpa/csrc/symbol-table.h
Labels: ready

#202 Add CTC pre-trained models
  .github/scripts/run-offline-ctc.sh
  .github/workflows/run-cpp-test.yaml
  docs/source/conf.py
  docs/source/cpp/installation/from-source.rst
  docs/source/cpp/pretrained_models/index.rst
  docs/source/cpp/pretrained_models/offline_ctc.rst
  docs/source/cpp/pretrained_models/offline_transducer.rst
  docs/source/index.rst
Labels: cpp

#210 Add doc for offline-transducer pretrained models
  .github/scripts/run-offline-transducer.sh
  .github/workflows/run-cpp-test.yaml
  docs/source/cpp/pretrained_models/offline_ctc.rst
  docs/source/cpp/pretrained_models/offline_transducer.rst
Labels: cpp

#214 Send audio samples in chunks for online websocket client
  sherpa/cpp_api/online-stream.h
  sherpa/cpp_api/websocket/online-websocket-client.cc
  sherpa/cpp_api/websocket/online-websocket-server-impl.cc
  sherpa/cpp_api/websocket/online-websocket-server-impl.h
  sherpa/cpp_api/websocket/online-websocket-server.cc
Labels: cpp

#225 Test RTF for online websocket server
  .github/scripts/test-offline-websocket-rtf-wer.sh
  .github/scripts/test-online-websocket-rtf-wer.sh
  .github/workflows/test-offline-websocket-rtf-wer.yaml
  .github/workflows/test-online-websocket-rtf-wer.yaml
  sherpa/bin/streaming_pruned_transducer_statelessX/decode_manifest.py
Labels: rtf

#219 Add fast_beam_search
  .github/scripts/run-offline-transducer.sh
  .github/scripts/run-online-transducer.sh
  .github/workflows/build-doc.yml
  .github/workflows/run-cpp-test.yaml
  .github/workflows/run-cpp-websocket-test.yaml
  .github/workflows/run-streaming-conformer-test.yaml
  .github/workflows/run-streaming-conv-emformer-test.yaml
  .github/workflows/run-streaming-lstm-test.yaml
  .github/workflows/run-streaming-test-windows-cpu.yaml
  .github/workflows/run-streaming-test-with-long-waves.yaml
  .github/workflows/run-streaming-test.yaml
  .github/workflows/run-test-aishell.yaml
  .github/workflows/run-test-windows-cpu.yaml
  .github/workflows/run-test.yaml
  .github/workflows/run-wenetspeech-streaming-conformer-rnnt-test.yaml
  .github/workflows/test-offline-websocket-rtf-wer.yaml
  .github/workflows/test-online-websocket-rtf-wer.yaml
  cmake/k2.cmake
  sherpa/cpp_api/CMakeLists.txt
  sherpa/cpp_api/fast-beam-search-config.cc
  sherpa/cpp_api/fast-beam-search-config.h
  sherpa/cpp_api/offline-recognizer-ctc-impl.h
  sherpa/cpp_api/offline-recognizer-transducer-impl.h
  sherpa/cpp_api/offline-recognizer.cc
  sherpa/cpp_api/offline-recognizer.h
  sherpa/cpp_api/online-recognizer.cc
  sherpa/cpp_api/online-recognizer.h
  sherpa/cpp_api/online-stream.h
  sherpa/csrc/CMakeLists.txt
  sherpa/csrc/offline-transducer-fast-beam-search-decoder.cc
  sherpa/csrc/offline-transducer-fast-beam-search-decoder.h
  sherpa/csrc/offline-transducer-model.h
  sherpa/csrc/online-transducer-decoder.h
  sherpa/csrc/online-transducer-fast-beam-search-decoder.cc
  sherpa/csrc/online-transducer-fast-beam-search-decoder.h
  sherpa/csrc/online-transducer-model.h
Labels: ready, cpp

#226 Add timestamps for online ASR
  .github/scripts/run-online-transducer.sh
  .github/workflows/build-doc.yml
  .github/workflows/run-cpp-test.yaml
  .github/workflows/run-cpp-websocket-test.yaml
  .github/workflows/run-streaming-conformer-test.yaml
  .github/workflows/run-streaming-conv-emformer-test.yaml
  .github/workflows/run-streaming-lstm-test.yaml
  .github/workflows/run-streaming-test-windows-cpu.yaml
  .github/workflows/run-streaming-test-windows-cuda.yaml
  .github/workflows/run-streaming-test-with-long-waves.yaml
  .github/workflows/run-streaming-test.yaml
  .github/workflows/run-test-aishell.yaml
  .github/workflows/run-test-windows-cpu.yaml
  .github/workflows/run-test-windows-cuda.yaml
  .github/workflows/run-test.yaml
  .github/workflows/run-wenetspeech-streaming-conformer-rnnt-test.yaml
  .github/workflows/test-offline-websocket-rtf-wer.yaml
  .github/workflows/test-online-websocket-rtf-wer.yaml
  cmake/k2.cmake
  sherpa/cpp_api/bin/online-recognizer.cc
  sherpa/cpp_api/online-recognizer.cc
  sherpa/cpp_api/online-recognizer.h
  sherpa/cpp_api/online-stream.h
  sherpa/cpp_api/websocket/online-websocket-server-impl.cc
  sherpa/csrc/online-transducer-decoder.h
  sherpa/csrc/online-transducer-fast-beam-search-decoder.cc
  sherpa/csrc/online-transducer-fast-beam-search-decoder.h
  sherpa/csrc/online-transducer-greedy-search-decoder.cc
  sherpa/csrc/online-transducer-model.h
  sherpa/csrc/online-transducer-modified-beam-search-decoder.cc
Labels: cpp

#227 Add doc for online transducer pretrained models
  .github/scripts/run-online-transducer.sh
  .github/workflows/build-doc.yml
  docs/source/cpp/installation/index.rst
  docs/source/cpp/offline_asr/gigaspeech.rst
  docs/source/cpp/offline_asr/wenetspeech.rst
  docs/source/cpp/pretrained_models/index.rst
  docs/source/cpp/pretrained_models/online_transducer.rst
  docs/source/index.rst
Labels: cpp

#228 Add more offline transducer models
  .github/scripts/run-offline-transducer.sh
  docs/source/cpp/pretrained_models/offline_transducer.rst
Labels: cpp

#230 Return timestamp for offline ASR
  .github/scripts/run-offline-ctc.sh
  .github/scripts/run-offline-transducer.sh
  docs/source/cpp/pretrained_models/offline_ctc.rst
  docs/source/cpp/pretrained_models/offline_transducer.rst
  sherpa/cpp_api/bin/offline-recognizer.cc
  sherpa/cpp_api/bin/online-recognizer.cc
  sherpa/cpp_api/offline-recognizer-ctc-impl.h
  sherpa/cpp_api/offline-recognizer-transducer-impl.h
  sherpa/cpp_api/offline-stream.cc
  sherpa/cpp_api/offline-stream.h
  sherpa/cpp_api/online-recognizer.cc
  sherpa/csrc/offline-ctc-one-best-decoder.cc
  sherpa/csrc/offline-transducer-fast-beam-search-decoder.cc
  sherpa/csrc/offline-transducer-model.h
  sherpa/csrc/offline-wav2vec2-ctc-model.h
Labels: cpp

#231 Decode manifest
  docs/source/triton/client/index.rst
  docs/source/triton/perf/index.rst
  triton/client/decode_manifest_offline.py
  triton/model_repo_offline/scorer/1/model.py
  triton/model_repo_offline/scorer/1/search.py
  triton/model_repo_offline/scorer/config.pbtxt.template
Labels: ready, triton
