Repository k2-fsa/sherpa, pull requests merged in 2022-12, with the labels that each got.

#232 add endpoint
  .github/scripts/run-online-transducer.sh
  sherpa/cpp_api/CMakeLists.txt
  sherpa/cpp_api/endpoint.cc
  sherpa/cpp_api/endpoint.h
  sherpa/cpp_api/online-recognizer.cc
  sherpa/cpp_api/online-recognizer.h
  sherpa/cpp_api/online-stream.h
  sherpa/csrc/CMakeLists.txt
  sherpa/csrc/online-stream.cc
  sherpa/csrc/online-transducer-fast-beam-search-decoder.cc
Labels: ready, cpp

#234 Add Arabic pretrained models
  .github/scripts/run-offline-ctc.sh
  docs/source/cpp/pretrained_models/index.rst
  docs/source/cpp/pretrained_models/offline_ctc.rst
Labels: cpp

#233 Decode streaming manifest file for triton online ASR
  docs/source/triton/client/index.rst
  triton/client/client.py
  triton/client/decode_manifest_offline.py
  triton/client/decode_manifest_triton.py
  triton/client/generate_perf_input.py
  triton/client/speech_client.py
  triton/client/utils.py
Labels: ready, triton

#235 Reduce ci test time
  .github/scripts/run-online-transducer.sh
  .github/workflows/run-cpp-test.yaml
  .github/workflows/run-cpp-websocket-test.yaml
  sherpa/cpp_api/bin/online-recognizer.cc
  sherpa/cpp_api/endpoint.cc
  sherpa/cpp_api/endpoint.h
  sherpa/cpp_api/online-recognizer.cc
Labels: cpp

#236 Add pretrained models for Tibetan
  .github/scripts/run-offline-transducer.sh
  docs/source/cpp/pretrained_models/offline_transducer.rst
Labels: cpp

#237 Add new Python API for offline recognizer.
  .github/scripts/run-python-test.sh
  .github/workflows/run-cpp-test.yaml
  .github/workflows/run-python-test.yaml
  .gitignore
  sherpa/cpp_api/fast-beam-search-config.cc
  sherpa/cpp_api/fast-beam-search-config.h
  sherpa/cpp_api/feature-config.cc
  sherpa/cpp_api/feature-config.h
  sherpa/cpp_api/offline-recognizer.cc
  sherpa/cpp_api/offline-recognizer.h
  sherpa/python/csrc/CMakeLists.txt
  sherpa/python/csrc/fast-beam-search-config.cc
  sherpa/python/csrc/fast-beam-search-config.h
  sherpa/python/csrc/feature-config.cc
  sherpa/python/csrc/feature-config.h
  sherpa/python/csrc/offline-ctc-model.cc
  sherpa/python/csrc/offline-ctc-model.h
  sherpa/python/csrc/offline-recognizer.cc
  sherpa/python/csrc/offline-recognizer.h
  sherpa/python/csrc/offline-stream.cc
  sherpa/python/csrc/offline-stream.h
  sherpa/python/csrc/sherpa.cc
  sherpa/python/sherpa/__init__.py
  sherpa/python/test/CMakeLists.txt
  sherpa/python/test/test_fast_beam_search_config.py
  sherpa/python/test/test_feature_config.py
  sherpa/python/test/test_offline_ctc_decoder_config.py
  sherpa/python/test/test_offline_recognizer.py
  sherpa/python/test/test_offline_recognizer_config.py
Labels: python

#243 Update doc to include chinese+english model
  .github/scripts/run-online-transducer.sh
  .github/workflows/build-doc.yml
  .github/workflows/run-cpp-test.yaml
  CMakeLists.txt
  docs/source/cpp/pretrained_models/online_transducer.rst
Labels: cpp

#244 Support passing token.txt to conv-emformer streaming server
  .github/workflows/run-streaming-conv-emformer-test.yaml
  sherpa/bin/conv_emformer_transducer_stateless2/beam_search.py
  sherpa/bin/conv_emformer_transducer_stateless2/streaming_server.py
  sherpa/bin/streaming_pruned_transducer_statelessX/streaming_server.py
Labels: conv-emformer

#247 Update doc to include newly added CTC models
  .github/scripts/run-offline-ctc.sh
  .github/scripts/run-offline-transducer.sh
  .github/workflows/run-cpp-test.yaml
  docs/source/cpp/pretrained_models/offline_ctc.rst
  docs/source/cpp/pretrained_models/offline_transducer.rst
  docs/source/ncnn/index.rst
Labels: cpp

#249 Prevent cmake from trying to link with system MKL
  CMakeLists.txt
Labels: ready
